.body {
  background-color: rgb(214, 206, 202);
}


.homeH1 {
  color:coral;
  margin: -350px -275px 0px;
  text-align: left;
}

.navbar {
  display: flex;
  background-image: url(https://images.squarespace-cdn.com/content/v1/5a1c363cf14aa168f5288db9/1511978780299-0VK2O99F63LX6IIZXETT/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USOFn4xF8vTWDNAUBm5ducQhX-V3oVjSmr829Rco4W2Uo49ZdOtO_QXox0_W7i2zEA/001.jpg?format=2500w);
  background-size: cover;
  opacity: .8;
  height: 100%;
  padding: 400px;
  margin-top: 0px

}
.homeH2 {
  margin: -340px 40px 0px;
}
.navbar-brand {
  margin-top: 0px
}
ul.dropdown-menu.show {
  margin: -300px 0px 0px;
}
.searchForm {
  margin-top: 100px;
}
div.affPTags {
  margin: 16px 10px 10px 10px;
  padding: 20px;
}

p {
  color:rgb(121, 98, 76);
  font-weight: bolder;
}
.homeH3 {
  
  box-shadow: 5px 5px 15px 10px rgb(121, 98, 76);
  padding: 10px;
  border-radius: 5px;
}

a{
  text-decoration: none;
}
.addedresults {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
box-shadow: 5px 5px 15px 10px rgb(121, 98, 76);
}
button.navbar-toggler.collapsed{
  margin: -550px 0px 0px;
  color:rgb(85, 70, 55);
}
.form-control {
  background-color:rgb(221, 211, 207);
  border-radius: 5px;
  border: black;
  filter: drop-shadow(0 2px 3px rgb(185, 178, 178));
}

.btn {
  background-color:rgb(221, 211, 207);
  /* color: rgb(221, 211, 207); */
  border-radius: 5px;
  filter: drop-shadow(0 2px 3px black);
  margin: 10px;
}

footer {
  font-family:'Times New Roman', Times, serif;
  margin-top: 100px;
  padding: 10px;
}

.col-4 {
  display: flex;
  flex-direction: column;
  }

 
.affPTags {
  display: flex;
  background-color:rgb(221, 211, 207);
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
  /* filter: drop-shadow(-15px 2px 3px rgb(107, 101, 101)); */
  /* box-shadow: 15px 15px 150px 15px rgb(121, 98, 76); */
  box-shadow: 5px 5px 15px 10px rgb(121, 98, 76);
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.affName {
  margin-right: 10px;
  text-decoration: none;
}
/* .App {
  text-align: center;
  background-color: #8aabec;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1HuN6i15Ukvk0lZulFNoAE0RBcS2J6Ajofg&usqp=CAU);
  opacity: 80%;
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWJv4ULKnhckN65cCRFySriocT7EzLphZI_Q&usqp=CAU); */
  /* image-rendering: pixelated; ^
  background-size: cover;
  /* background-position: 50% 50%; ^
  padding: 200px
 
}
.App-header {
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 
}

nav {
  position: absolute;
  top: 10px;
  left: 500px;
  right: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#appName {
  font-size: 50px;
  width: 35rem;
  
 
}

nav a {
  border: purple 3px solid;
  border-radius: 10px;
  background-color: orchid;
  font-size: small;
  /* width: 50rem;
  height: 10rem; ^
  box-shadow: 15px 15px 15px darkmagenta;
  padding: 8px;
  margin: 5%;
  text-decoration: none;
 
}
nav a:hover {
  background-color: #8aabec;
  color: darkorchid;
  transition: scale(1);
  
}
main{
  margin-top: 150px;
}
.about {
  font-weight: 900;
  font-size: x-large;
  color:purple;
  border: purple 5px solid;
  box-shadow: 15px 15px 15px darkmagenta;
  border-radius: 10px;
  width: 60%
}
/* .about.transbox {
  margin: 30px;
  background-color: black;
  border: 1px solid purple;
  opacity: 0.6;
} ^

.searchForm {
  font-weight: 700;
  font-size: x-large;
  color:purple;
  border: purple 5px solid;
  box-shadow: 15px 15px 15px darkmagenta;
  border-radius: 10px;
  padding: 10px;
  
}

.searchForm input {
  border-radius: 10px;
  background-color: lightgray;
  color: purple;
}


.searchForm label {
  font-size: xx-large;
  font-weight: bold;
  color:purple;


}
.deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: purple;
}

.deck a {
  text-decoration: none;
  
}

#rinfoForm {
  border: purple 3px solid;
  border-radius: 10px;
  background-color: orchid;
  font-size: small;
  width: 20%;
  box-shadow: 15px 15px 15px darkmagenta;
  padding: 10px;
  margin: 10px;
}
.colForm {
  list-style: none;
  border: purple 3px solid;
  border-radius: 10px;
  background-color: orchid;
  font-size: medium;
  font-weight: bold;
  /* width: 100%; ^
  box-shadow: 15px 15px 15px darkmagenta;
  padding: 10px;
  margin: 10px;
}

.colForm button {
  border-radius: 10px;
  background-color: #8aabec;
  color: purple;
}

footer {
  color:purple;
  border: purple 3px solid;
  border-radius: 10px;
  background-color: orchid;
  font-size: small;
  /* width: 500px; ^
  box-shadow: 15px 15px 15px darkmagenta;
  /* padding: 10%; *^
  margin-top: 250px;
} */